{% extends 'sellysafeweb/base.html' %}
{% block title %}About{% endblock %}
{% block head_scripts %}
    <!--Loading static content-->
    {% load static %}

    <!--Init SideNav for mobile-->
    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
            $('.sidenav').sidenav();
        });
    </script>
{% endblock %}

{% block content %}

    <nav class="grey darken-4" role="navigation">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">
                <img alt="logo" src="{% static 'sellysafeweb/media/logolongtrn.png' %}" width='auto' height="50px"
                     style="vertical-align: middle">
            </a>

            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect" href="https://www.google.com" target="blank">Donate</a></li>
                <li><a class="waves-effect" href="https://github.com/danielbatchford/sellysafe" target="blank">Source
                    Code</a></li>
            </ul>


            <ul id="nav-mobile" class="sidenav grey darken-4">
                <li><a class="waves-effect white-text" href="https://www.google.com" target="blank">Donate</a></li>
                <li><a class="waves-effect white-text" href="https://github.com/danielbatchford/sellysafe"
                       target="blank">Source Code</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger waves-effect">
                <i class="material-icons">menu</i></a>

        </div>
    </nav>

    <div class="container">
        <h2 class="header">About</h2>
        <p class="flow-text">Mention brumfess fab reports improvement, click on the map to add a report. Instantly see
            reports in last x days</p>
    </div>

    <div class="parallax-container center valign-wrapper">
        <div class="container">
            <a class="waves-effect btn-large deep-orange hoverable" href={% url 'sellysafeweb:map' %}><i
                    class="material-icons right">map</i>Go To The Map</a>
        </div>

        <div class="parallax">

            <img src= {% static 'sellysafeweb/media/mapimg.jpg' %}>


        </div>
    </div>

    <div class="container">
        <h2 class="header">Why</h2>
        <p class="flow-text">Lockdown Project. Keep people safe, see where the best places in selly are</p>
        <h2 class="header">Creator</h2>
        <p class="flow-text">About me (lockdown, about me in cs, statement about "please dont abuse")</p>

    </div>

    <footer class="page-footer grey darken-4">
        <footer class="footer-copyright">
            <div class="container center">
                <a href="https://github.com/danielbatchford" class="white-text" target="blank">Daniel Batchford -
                    2020</a>
            </div>
        </footer>
    </footer>
{% endblock %}


