{% extends 'sellysafeweb/base.html' %}
{% block title %}About{% endblock %}
{% block head_scripts %}
    <!--Loading static content-->
    {% load static %}

    <!--Init SideNav for mobile-->
    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
            $('.sidenav').sidenav();
        });
    </script>
{% endblock %}

{% block content %}

    <nav class="grey darken-4" role="navigation">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">
                <img alt="logo" src="{% static 'sellysafeweb/media/logolongtrn.png' %}" width='auto' height="50px"
                     style="vertical-align: middle">
            </a>

            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect" href="https://www.google.com" target="blank">Donate</a></li>
                <li><a class="waves-effect" href="https://github.com/danielbatchford/sellysafe" target="blank">Source
                    Code</a></li>
            </ul>


            <ul id="nav-mobile" class="sidenav grey darken-4">
                <li><a class="waves-effect white-text" href="https://www.google.com" target="blank">Donate</a></li>
                <li><a class="waves-effect white-text" href="https://github.com/danielbatchford/sellysafe"
                       target="blank">Source Code</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger waves-effect">
                <i class="material-icons">menu</i></a>

        </div>
    </nav>

    <div class="container">
        <h3 class="header">About</h3>
        <p class="flow-text">SellySafe aims to let UOB students view reports of incidents occurring around Selly Oak. Is
            someone walking through your garden? Is someone trying to open doors on your street? Report it on the map
            and let others know where and when it happened, allowing them to take necessary precautions
            with regards to the incident. This site gives you an interactive map, letting you see
            recent incidents near you.</p>
    <img  alt = "anim" src = "{% static 'sellysafeweb/media/anim.gif' %}" width = "100%" height = "auto">
    </div>

    <div class="parallax-container center valign-wrapper">
        <div class="container">
            <a class="waves-effect btn-large deep-orange hoverable" href={% url 'sellysafeweb:map' %}><i
                    class="material-icons right">map</i>Go To The Map</a>
        </div>

        <div class="parallax">

            <img src= {% static 'sellysafeweb/media/mapimg.jpg' %}>


        </div>
    </div>

    <div class="container">
        <h3 class="header">Why</h3>
        <p class="flow-text">This was created as a lockdown project to help people stay safe in and around Selly Oak.
        I aim to help improve safety for students living in post first year accommodation. Furthermore, I aim to give
        first year students an indication of the safer areas to live in 2nd year, as well as where to avoid when going out.
        </p>
        <h3 class = "header">Disclaimer</h3>
        <p class = "flow-text">While I hope this map helps with people during their time in Selly Oak, this is not intended
            to be a replacement for the <a class = "deep-orange-text" href = "https://www.police.uk/pu/your-area/west-midlands-police/selly-oak/?tab=CrimeMap"
                                           target = "blank">
                Official Police Crime Map</a> for Selly Oak, which contains recent reported incidents and the police investigation
        status for each incident.</p>
    </div>

    <footer class="page-footer grey darken-4">
        <footer class="footer-copyright">
            <div class="container center">
                <a href="https://github.com/danielbatchford" class="white-text" target="blank">Created by Daniel Batchford -
                    2020</a>
            </div>
        </footer>
    </footer>
{% endblock %}


