<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    {% load static %}

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'sellysafeweb/css/materialize.css' %}"
          media="screen,projection"/>


    <link type="text/css" rel="stylesheet" href="{% static 'sellysafeweb/css/style.css' %}" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--JavaScript at end of body for optimized loading-->

    <!--MapBox Reference-->
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet'/>

    <script type="text/javascript" src="{% static 'sellysafeweb/js/scripts.js' %}"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
    <script type="text/javascript" src="{% static 'sellysafeweb/js/materialize.js' %}"></script>

    <script>
        M.AutoInit();
    </script>


</head>
<body>
{% block content %}
{% endblock %}


</body>
</html>