<div class="fixed-action-btn">
    <a class="btn-floating btn-large deep-orange animate__animated animate__slideInRight hoverable">
        <i class="large material-icons">reorder</i>
    </a>
    <ul>
        <li><a class="btn-floating white hoverable" onclick="toggleAddMode()"><i class="material-icons black-text"
                                                                                 id="addButton">add</i></a>
        <li><a class="btn-floating white hoverable" href= {% url 'sellysafeweb:about' %}><i
                class="material-icons black-text">help</i></a>
        </li>
        <li><a class="btn-floating white hoverable"><i class="material-icons black-text" onclick=toggleTheme()>visibility</i></a>
        </li>
    </ul>
</div>