{% extends 'sellysafeweb/base.html' %}
{% block title %}Map View{% endblock %}

{% block head_scripts %}
    <!--MapBox Reference-->
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet'/>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
{% endblock %}

{% block content %}

    <div id='map'></div>
    {% include 'sellysafeweb/map_scripts.html' %}
    {% include 'sellysafeweb/ui_scripts.html' %}
    {% include 'sellysafeweb/fab_btns.html' %}
    {% include 'sellysafeweb/report_modal.html' %}
    {% include 'sellysafeweb/add_header_info.html' %}
    {% include 'sellysafeweb/floating_logo.html' %}
{% endblock %}